.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;

  min-width: 82px;
  padding: 5px;

  background: #EE171F;
  border-radius: 15px;

  text-align: center;
  color: white;
  font-weight: 500;

  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.25));

  outline: none;
  border: none;

  cursor: pointer;

  &:hover {
    background-color: darken(#EE171F, 5%);
    color: white;
  }

  &:active {
    background-color: darken(#EE171F, 10%);
  }
}

/*--- Disabled ---*/

.button--disabled {
  background-color: lighten(#EE171F, 20%);

  &:hover {
    background-color: lighten(#EE171F, 20%);
  }
}

/*--- Stretched ---*/

.button--stretched {
  width: 100%;
}

/*--- White ---*/

.button--white {
  background-color: #FFFFFF;
  color: hsla(0, 0%, 0%, 1);

  &:hover {
    background-color: darken(#FFFFFF, 5%);
  }

  &:active {
    background-color: darken(#FFFFFF, 10%);
  }
}

/*--- Link ---*/

.button--link {
  position: relative;
}

/*--- Link with icon ---*/

.button--link-with-icon {
  padding: 5px 15px;

  .button__icon {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 45px;
  }

  .button__text {
    padding-left: 10px;
  }
}

/*--- Rounded ---*/

.button--rounded {
  border-radius: 50%;

  height: 40px;
  min-width: 40px;
}
