.comics-list {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 50px 0;
  }

  &__panel {

  }

  &__panel-title {
    margin-bottom: 10px;
  }

  &__grid {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
}
