.introduction-panel {
  color: #FFFFFF;

  &__title {
    margin-bottom: 25px;

    line-height: 56.25px;
  }

  &__description {
    margin-bottom: 25px;

    line-height: 16px;
  }

  &__search {
    margin-bottom: 47px;
  }

  &__quote {
    margin-bottom: 5px;

    font-style: italic;
    line-height: 28px;
  }

  &__quote-author {
    font-size: 14px;
  }
}
