.slider-card {
  display: flex;
  align-items: center;
  gap: 45px;

  &__image {
    height: 300px;
  }

  &__body {
    max-width: 284px;

    padding: 10px 0px;

    color: white;
  }

  &__title {
    margin-bottom: 25px;
  }

  &__description {
    margin-bottom: 15px;
  }
}
