.comic-detail {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 25px;

  &__content {
    max-width: 446px;;
  }

  &__cover {
    width: 235px;
    height: 358px;
  }

  &__info {
    display: flex;
    gap: 12px;
    margin-bottom: 20px;
  }

  &__info-item {
    display: flex;
    flex-direction: column;
  }

  &__info-item strong,
  &__info-item span {
    font-size: 14px;
  }

  &__info-item strong {
    font-weight: 500;
  }

  &__description-title {
    margin-bottom: 15px;
  }

  &__description-text {
    line-height: 14px;

  }

  &__title {
    margin-bottom: 20px;
  }
}
