/*---Card cover---*/

.card-cover {
  position: relative;

  height: 100%;
  width: 100%;

  overflow: hidden;

  border-radius: 35px;

  &__img {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
  }
}
