.cart-page {
  padding-block: 30px;

  &__title {
    margin-bottom: 50px;
  }

  &__content {
    display: flex;
    gap: 10px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 0.75;
  }

  &__actions {

    flex: 0.25;
  }
}