.editor-wrapper {
  background: #FFFFFF;

  padding: 10px 15px;

  border: 1px solid #DBDBDB;
  border-radius: 10px;
}

.editor-toolbar {
  border: none;
  border-bottom: 1px solid #DBDBDB;
}

.rdw-option-wrapper {
  border: none;
}
