.overlay {
  display: none;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  height: 100%;
  width: 100%;

  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);

  &--is-visible {
    display: block;
  }
}
