.nav-menu {

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    column-gap: 40px;
    row-gap: 10px;

    flex-wrap: wrap;
  }

  &__link {
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    color: white;
  }

  &__link:hover {
    color: lighten(#EE171F, 15%);
  }

  &__link:active {
    color: lighten(#EE171F, 10%);
  }

  &__link--is-active{
    color: lighten(#EE171F, 10%);
  }
}

