.hero {
  position: relative;

  z-index: 1;

  padding: 48px 0;

  background-image: url("../../../assets/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &::after {
    content: '';

    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    background-color: black;

    filter: blur(1px);
    opacity: 0.5;
    z-index: -1;
  }


  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  &__left-side {
    max-width: 374px;
    width: 100%;
  }

  &__right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 555px;
    width: 100%;
  }
}
